<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--客户映射 指定到dao接口 -->
<mapper namespace="com.deepexi.com.deepexi.mapper.ProductMapper">

    <!--id与dao接口的方法名一直，指定结果类型，和参数类型 -->

    <select id="selectPageVo" resultType="com.deepexi.com.deepexi.domain.eo.Product">
        SELECT * FROM product WHERE price > #{price}
    </select>

    <select id="selectList1" resultType="com.deepexi.com.deepexi.domain.eo.Product">
        SELECT
        p.name,
        p.price
        FROM product p
        where p.name like  concat('%',#{name},'%')
    </select>

    <update id="updateById1">
      update product p
      set p.name = #{product.name}, p.price = #{product.price}
      where id = #{product.id}

    </update>


    <select id="findAllDeliveriesByProductId" resultType="com.deepexi.com.deepexi.domain.dto.DeliveryDto">

        SELECT p.id , p.name , o.user_name , o.total_price , cD.address, cD.telephone
        from product p, orders o, customerDetails cD
        where p.id = #{id}
        and p.id = o.productId
        and o.id = cD.customer_id
    </select>







</mapper>


